@media(max-width: 500px) {

  // Overwrite any other grid-template and set the amount of grid-columns to one
  .grid-system {
    grid-template-columns: 1fr !important;
  }

  // Increase the height of the header and reposition the background image so that its position matches that of the inner pages
  #header {
    &-home {
      height: 8rem;
      color: $dark-colour;
      background: $bg-image no-repeat 20% 30%/cover;
      width: 100%;
      border-bottom: 3px solid $main-colour;

      // Increase the height of the main-nav so that it will comfortably contain all information on a mobile screen.
      // Also, change the flex direction and the flex properties so items are positioned and aligned more appropriately and elegantly
      #main-nav {
        height: 15rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        li {
          margin: 1rem 0.8rem;
        }
      }

      .header-content {
        display: none;
      }
    }

    &-inner {
      height: 8rem;

      #main-nav {
        flex-direction: column;
        align-items: center;

        ul li {
          margin: 0.5rem 0.8rem;
        }
      }
    }
  }

  #home {
    &-a {
      p {
        width: 90%;
        margin: auto;
      }
    }

    &-b {
      .stats {
        gap: 0;

        div {
          padding: 1.5rem 0 0.5rem 0;
        }
      }
    }
  }

  // Change the grid areas so that a single column serves all grid elements within
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          'bio-image'
          'bio'
          'awd1'
          'awd2'
          'awd3';
      }
    }

    // Hide this section
    &-c {
      display: none;
    }

    &-d {
      .testimonials div ul {
        justify-content: center;
      }
    }
  }

  #contact {
    &-a {
      form {
        .text-fields {
          grid-template-areas:
            'name'
            'email'
            'phone'
            'subject'
            'message';
        }

        // Change the sizing of the button which pertains to the type 'submit'
        button[type="submit"] {
          font-size: 1.2rem;
          width: 75%;
        }
      }
    }

    &-b {
      .contact-info .card {
        margin-bottom: 2rem;
      }

      .contact-info .card:last-child {
        margin-bottom: 0;
      }
    }

    &-c {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      padding: 1rem 0;
    }
  }
}